{
    "modLogChannel": "787141918055858176",
    "publicLogChannel": "channel-id",
    "ruleMessageID": "785896550869106741",
    "ruleChannelID": "772921190280724512",
    "trustedMembers": ["admin-member-id"],
    "prefix": "??"
}