{
    "modLogChannel": "787141763173318678",
    "publicLogChannel": "channel-id",
    "trustedMembers": ["admin-member-id"],
    "prefix": "??",
    "ruleMessageId" : "559156498903728178",
    "ruleChannelId" : "556172089795674140"
    
}